.overlay {
    background-color: rgba(0, 50, 150, 0.5);
}
.content {
    position: relative;
    z-index: 2;
    max-width: 700px;
    padding: 20px;
}

.btn-rounded {
    border-radius: 50px;
    margin: 5px;
    padding: 10px 30px;
}

.customImage {
    border-width: 7px;
    border-radius: 20px;
    border-style: solid;
    border-color: #5c5ada;
    margin: 5px;
    width:250px;
    max-height: 200px;
}

.redietText{
    color: rgb(35, 35, 169);
}


.highlightedText{
    color: rgb(35, 35, 169);
    font-weight: bold;
    text-transform:uppercase
}

li{
    list-style-type: none;
    float: left;
    border-right-color: rgb(255, 255, 255);
    border-right-width: 1px;
    border-right-style: solid;
}

li a{
    display:block;
    color: rgb(0, 0, 139);
    padding: 20px;
    text-align: center;
    background-color: rgb(0, 0, 139);
}

li a:hover{
    background-color: rgb(144, 213, 255);
}

a:link{
    color: rgb(255, 255, 255);
}
a:visited{
    color: rgb(255, 255, 255);
}
a:hover{
    color:  rgb(255, 255, 255);
}
a:active{
    color:rgb(255, 255, 255);
}
