li{
    list-style-type: none;
    float: left;
    border-right-color: rgb(178, 182, 216);
    border-right-width: 1px;
    border-right-style: solid;
}

li a{
    display:block;
    color: rgb(27, 8, 8);
    padding: 20px;
    text-align: center;
    background-color: rgb(62, 51, 175);
}

li a:hover{
    background-color: rgb(249, 236, 236);
}

a:link{
    color: rgb(27, 24, 67);
}
a:visited{
    color: rgb(250, 168, 168);
}
a:hover{
    color:  rgb(254, 204, 204);
}
a:active{
    color:rgb(77, 34, 34);
}

.overlay {
    background-color: rgba(0, 50, 150, 0.5); 
}

    
    
