
.overlay {
    background-color: rgba(0, 50, 150, 0.5); 
}

li{
    list-style-type: none;
    float: left;
    border-right-color: rgb(255, 255, 255);
    border-right-width: 1px;
    border-right-style: solid;
}

li a{
    display:block;
    color: rgb(0, 0, 139);
    padding: 20px;
    text-align: center;
    background-color: rgb(0, 0, 139);
}

li a:hover{
    background-color: rgb(144, 213, 255);
}

a:link{
    color: rgb(255, 255, 255);
}
a:visited{
    color: rgb(255, 255, 255);
}
a:hover{
    color:  rgb(255, 255, 255);
}
a:active{
    color:rgb(255, 255, 255);
}

.body{
    background-color:#ffffff;
    font-family:Arial;
}

.main{
    background-color:#e8e8f5;
    padding:20px;
}

.menu{
    width:150px;
    float:left;
}

.menu div{
    background-color:#0d83ff;
    color:white;
    padding:25px;
    border:1px solid black;
    font-size:30px;
}

.team{
    margin-left:200px;
}

.person{
    width:45%;
    display:inline-block;
    text-align:center;
    margin-bottom:60px;
    color:#ffffff;
    font-size:25px;
}

.person img{
    width:250px;
    height:250px;
}

